@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
  /* Light theme (default) */
  --bg-color: white;
  --text-color: black;
  --svg-color: black;
}

:root.dark {
  /* Dark theme */
  --bg-color: #111111;
  --text-color: #eeeeee;
  --svg-color: #eeeeee;
}

body {
  font-family: "Red Hat Display";
  line-height: 1.5;
  font-weight: 400;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
